
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/fira-sans-regular.woff2") format("woff2"),
       url("fonts/fira-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/fira-sans-700.woff2") format("woff2"),
       url("fonts/fira-sans-700.woff") format("woff");
}

body {

  font-family: "Fira Sans", sans-serif;
  font-size: 12pt;
  line-height: 1.4;

  hyphens: auto;
  text-wrap: pretty;
}

section {
  margin: 0 auto;
  width: 90%;
  max-width: 75ch;
}

a {
  color: #0218d0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

h2 {
  margin-top:2rem;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#banner {
  padding-right: 1%;
}

tool-tip {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
tool-text {
  visibility: hidden;
  position: absolute;
  background: white;
  padding: 5px;
  border: 1px solid gray;
  top: 100%;
  left: 0;
}
tool-tip:hover tool-text {
  visibility: visible;
}

img {
  display: block;
  margin: auto;
}

sub-sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 75ch;
  margin: auto;
  gap: 1rem;
  flex-wrap: wrap;

  section {
    flex: 1 1 10rem;
    max-width: 20rem;
    min-width: 13rem;

    h3 {
      text-align: center;
    }
  }
}

.logo {
  height: 6rem;
  
  margin: auto 0;
}

rng-path-container {
  display: block;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
